[Unit]
Description=Aja kulma.service säännöllisesti

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
