[Unit]
Description=Kulma - change the wallpaper to match the current sun angle

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
ExecStart=/usr/bin/python3 %h/.local/bin/kulma_wallpaper.py
